In [1]:
name = "Zaid Amad Khan"
print(name)

Zaid Amad Khan

In [2]:
text = "Hello World"
print(len(text))

11

In [3]:
text = "Python Programming"
sliced = text[:3]
print(sliced)

Pyt

In [4]:
text = "hello"
uppercase = text.upper()
print(uppercase)

HELLO

In [5]:
sentence = "I like apple"
new_sentence = sentence.replace("apple", "orange")
print(new_sentence)

I like orange

In [6]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [12]:
my_list = [1, 2, 3, 4]
my_list.append(10)
(my_list)

[1, 2, 3, 4, 10]

In [8]:
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [11]:
my_list = ['a', 'b', 'c', 'd']
(my_list[1])

'b'

In [13]:
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

In [14]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [15]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [16]:
numbers = (10, 20, 5, 15)
print(min(numbers))

5

In [17]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

In [18]:
fruits = ('apple', 'banana', 'mango')
print("kiwi" in fruits)

False

In [19]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'a', 'c'}

In [20]:
numbers = {1, 2, 3, 4, 5}
numbers.clear()
print(numbers)

set()

In [21]:
numbers = {1, 2, 3, 4}
numbers.remove(4)
print(numbers)

{1, 2, 3}

In [22]:
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

In [23]:
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

In [24]:
person = {"name": "Alice", "age": 30, "city": "Paris"}
print(person)

{'name': 'Alice', 'age': 30, 'city': 'Paris'}

In [25]:
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [26]:
person = {'name': 'Alice', 'age': 30}
print(person['name'])

Alice

In [27]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

In [28]:
person = {'name': 'Alice', 'city': 'Paris'}
print('city' in person)

True

In [29]:
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 1, "b": 2}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'a': 1, 'b': 2}

In [32]:
import random
numbers = random.sample(range(1, 101), 5)
numbers.sort()
print(numbers)

[15, 49, 86, 90, 97]

In [34]:
words = ["apple", "banana", "cherry", "date", "elderberry"]
print(words[3])

date

In [35]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [36]:
words = ["apple", "banana", "cherry", "apple"]
unique_words = set(words)
print(unique_words)

{'apple', 'cherry', 'banana'}